/* .box1{
    display: flex;
    padding-top: 1rem;
    padding-left: 4rem;
} */

.about-box2{
    color:  white;
    
    padding-left: 4rem;
    padding-right: 4rem;
    /* padding-top: 15rem; */
}

.about-box3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 4rem;
    padding-bottom:4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    width: 100%;
}
.codeKeBossRules{
    color:white;
    
}