.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f43c;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 252, 252, 0.24);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

input {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 12px;
  font-size: 1.2rem;
  background-color: #00AEEF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bbf;
}

/* Responsive styles */
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  input {
    font-size: 1.2rem;
    padding: 14px;
  }

  button {
    font-size: 1.4rem;
    padding: 14px;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }

  input {
    font-size: 1.4rem;
    padding: 16px;
  }

  button {
    font-size: 1.6rem;
    padding: 16px;
  }
}
