@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar_custum {
  position: absolute;
  left:10vh;
  font-family: "Barlow Condensed ";
    height: 15vh;
    width: 90vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #36454F; /* Charcoal grey background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Black shadow */
    padding: 10px 20px;
    border-radius: 30px;
  }
  
  .left img{
    width: 15vw; /* Adjust this as needed */
    height: 10vh; /* Adjust this as needed */
    background-color: transparent; /* Placeholder for the logo */
  }
  .right img{
    width:8vw; /* Adjust this as needed */
    height: 10vh; /* Adjust this as needed */
    background-color: transparent; /* Placeholder for the logo */
  }
  
  .navbar-title {
    font-family: "Barlow Condensed";
    color: white;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 0.2em;
    white-space: nowrap;
    border-right: 3px solid;
    width: 6ch;
    animation: typing 1s steps(22), blink 0.4s step-end infinite alternate;
  }
  
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
    border-right: 0px;
  }
}
  .left {
    margin-right: auto;
  }
  
  .right {
    margin-left: auto;
  }
  