@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';

.card {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 300px;
  height: 300px;
  float: left; /* Remove if using Bootstrap grid */
  perspective: 500px;
  font-family: 'Lily Script One';
  margin-bottom: 20px;
  margin-left: 20px; /* Add spacing between cards */
}

.content {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Lily Script One';
  transition: transform 1s;
  transform-style: preserve-3d;
}
.modal {
  background-color: rgba(27, 229, 247, 0.906);

  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
// .card:hover .content {
//   transform: rotateY(180deg);
//   transition: transform 0.5s;
// }

.content.flipped {
  transform: rotateY(180deg); /* Rotate card on Y-axis for flip effect */
}

.front,
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lily Script One';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  box-shadow: 3px 3px 33px rgb(2, 88, 110);
  // line-height: 50vh;
  color: #03446A;
  text-align: center;
  // font-size: 10em;
  border-radius: 25px;
  backface-visibility: hidden;
}

.back {
  background-color: #eff1ee;
  color: rgba(208, 79, 79, 0.541);
  transform: rotateY(180deg);
  font-size:10px;
  // 
  font-family: 'Lily Script One';
  position: absolute;
  height: 100%;
  width: 100%;
  color: #03446A;
  // text-align: center;
  border-radius: 25px;
  border: 2px solid black;
  backface-visibility: hidden;
}



.main_box{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;

}

.firstRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    // height: auto;
    margin: 3rem;
}

.secondRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    // height: 200px;
    margin: 3rem;
}

.thirdRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    // height: 200px;
    margin: 3rem;
}