.round1resultMainBox{
    border: 2px solid black;
    padding: 50px;
    border-radius: 30px;
    background-color: rgba(32, 200, 69, 0.641);
}

.round1resultMainBox>h1{
   color: white;
   font-weight: 900;
   font-size: 30px;
}
.round1resultMainBox>h2{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 30px;

 }
@media(max-width:880px)
{
    .round1resultMainBox>h2{
        color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: 20px;
        text-align: center;
    
     }
}