@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';



.card {
  width:18%;
  height: 50vh;
  // font-family: 'Lily Script One';
  margin-bottom: 20px;
  margin-left: 20px; 
}

.content {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.981);
  // font-family: 'Lily Script One';
  transition: transform 1s;
  transform-style: preserve-3d;
}

// .card:hover .content {
//   transform: rotateY(180deg);
//   transition: transform 0.5s;
// }

.content.flipped {
  transform: rotateY(900deg);
    transition: transform 2.5s;/* Rotate card on Y-axis for flip effect */
}

.front{
  background-color: #ffffff53;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lily Script One';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  box-shadow: 3px 3px 33px rgb(2, 88, 110);
  // line-height: 50vh;
  color: #03446A;
  text-align: center;
  // font-size: 10em;
  border-radius: 25px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  font-size:20px;
  overflow-x:hidden;
  padding:20px;
  text-align:center;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #d5eaf6;
  border-radius: 25px;
  border: 5px solid rgba(24, 205, 8, 0.377);
  backface-visibility: hidden;
}
.back:hover{
  color: blueviolet;
}
.modal {
  background-color: rgba(3, 234, 255, 0.906);
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.overlay {
  position: absolute;
  top:0;
  width: 100%;
  height:100%;
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  background-color: rgba(5, 5, 5, 0.174);
  border: 2px solid rgb(6, 4, 4);
}

@media (max-width: 1080px) {
  .card_box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
font-size: 25px;
  }
  .card{
    width: 40%;
    height: 40vh;
  }
}

@media (max-width: 480px) {
  .card{
    width: 80%;
  }
}

