@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';

.card {
  width: 300px;
  height: 300px;
  float: left; /* Remove if using Bootstrap grid */
  perspective: 500px;
  font-family: 'Lily Script One';
  margin-bottom: 20px; /* Add spacing between cards */
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Lily Script One';
  transition: transform 1s;
  transform-style: preserve-3d;
}

// .card:hover .content {
//   transform: rotateY(180deg);
//   transition: transform 0.5s;
// }

.content.flipped {
  transform: rotateY(180deg); /* Rotate card on Y-axis for flip effect */
}

.front,
.back {
  font-family: 'Lily Script One';
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #03446A;
  color: white;
  transform: rotateY(180deg);
}



.main_box{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;

}

.firstRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    // height: auto;
    margin: 3rem;
}

.secondRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    // height: 200px;
    margin: 3rem;
}

.thirdRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    // height: 200px;
    margin: 3rem;
}